<!DOCTYPE html>
<html ng-app="TennisApp">

    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="icon" href="../assets/images/tennis.png">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        
        <title>Tennis Doctors</title>
        
        <style type="text/css">
        
            .words{
                padding-top:1rem;
            }
            
            .upper{
                background-color:lightgray;
                height:10rem;
            }
            
            .lower{
                background-color:darkgrey;
                height:3rem;
            }
        
            .space{
                height:1rem;
            }
            
            .right{
                position:relative;
                float:right;
            }
            
            #animate-me {
                width: 50px;
                height: 50px;
                position: absolute;
                background: red;
            }
            
            .app-code{
                background-color:black;
                color:white;
            }
        </style>
        
    
    </head>
    
    <body ng-controller="MainController as vm">
    
        <script src="/assets/js/app.js"></script>  
        
        <div id="header">
            
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="#"><img src="../assets/images/tennis.svg" style="height:30px;width:30px;"></a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="scheduling">Court Scheduling</a>
                        </li>
<!--
                        <li class="nav-item">
                            <a class="nav-link" href="login"><button type="button" class="btn btn-outline-primary" style="height:20px;">Login/Register</button></a>         
                        </li>
-->
                    </ul>
                    <% if (user) {%>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= user.google.name %>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="profile"><i class="fa fa-user-circle" aria-hidden="true"></i> Profile</a>
                            <a class="dropdown-item" href="settings"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a>
                            <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                        </div>
                    </div>
                    <% } else {%>
                    <form action="/login" method="post" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="email" name="email" placeholder="Email" aria-label="UserName">
                        <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" aria-label="Password">
                        <button id="log-button" type="submit" class="btn btn-outline-primary">Login</button>
                        <a class="nav-link" href="signup" style="padding:4px;margin:0;"><button type="button" class="btn btn-outline-primary" style="">Register</button></a>
                    </form>
                    <% } %>
                    
<!--    
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> Profile</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a>
                    <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                </div>
            </div>
-->
                </div>
            </nav>
            
        </div>
            
        <div id="page-content">
            
            <div style="text-align:center;padding-top:36px;">
                <h1>Never play alone again!</h1>
                <p>Our systems work to make sure you always have a partner</p>
                <h2 style="padding-top:36px;">Get matched by the following identifiers</h2>
                <ul>
                    <li>Skill Level</li>
                    <li>Site Score</li>
                    <li>Reliability</li>
                    <li>Location</li>
                </ul>
                <p>Our Algorithm works to make sure you will always have a partner if there's one nearby! Don't settle for a less when you could have more.</p>
            </div>
            
        </div>
        
        
        <div class="space"></div>
        
        <div id="footer">
        
            <div class="upper"></div>
            <div class="lower">
                
            </div>
        
        </div>
        
        
    </body>

</html>